
div{
    background-color:gray;
    padding:3px;
    margin: 1vw auto; 
    height:15vh;
    width:20vw;
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid 2px rgb(0, 0, 0);
    border-radius: 2%;
    cursor:pointer;
    font-weight:bolder;
    font-size:x-large;
}

section {
    display:grid;
    justify-content:center;
    grid-template-rows: repeat(4 , 1fr); 
    grid-template-columns: repeat(4 , 1fr);           
}

header {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


